In [1]:
import pandas as pd
import numpy as np
import calendar

# MCS

In [2]:
user = "/Users/Colette/anaconda_important_code/acapstone"

In [3]:
mcs_data = pd.read_csv(user + "/data/data_prep/prep_MCS_fuel.csv")

In [4]:
mcs_data

,date,day,month,year,fuel,production,factory,type,supplier,unit_fuel,unit_production
0,12/17/16,17,12,2016,2662.838,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
1,1/4/17,4,1,2017,2662.838,239479,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
2,1/19/17,19,1,2017,2662.838,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
3,1/30/17,30,1,2017,2662.838,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
4,2/10/17,10,2,2017,2662.838,265073,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
5,2/22/17,22,2,2017,2662.838,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
6,3/10/17,10,3,2017,2662.838,284983,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
7,3/23/27,23,3,2017,2662.838,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
8,4/6/17,6,4,2017,2662.838,302032,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
9,4/22/17,22,4,2017,2662.838,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
10,5/15/17,15,5,2017,2662.838,328602,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
11,6/5/17,5,6,2017,2662.838,219754,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
12,7/25/17,25,7,2017,2662.838,278115,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
13,8/25/17,25,8,2017,2662.838,132747,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
14,9/9/17,9,9,2017,2662.838,192550,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
15,10/31/17,31,10,2017,2662.838,257604,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
16,11/24/17,24,11,2017,2662.838,148611,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
17,12/25/17,25,12,2017,2662.838,166618,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms

In [5]:
mcs_data["date"] = pd.to_datetime(mcs_data[['year', 'month', 'day']])

In [6]:
mcs_data.head()

,date,day,month,year,fuel,production,factory,type,supplier,unit_fuel,unit_production
0,2016-12-17,17,12,2016,2662.838,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
1,2017-01-04,4,1,2017,2662.838,239479,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
2,2017-01-19,19,1,2017,2662.838,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
3,2017-01-30,30,1,2017,2662.838,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
4,2017-02-10,10,2,2017,2662.838,265073,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms

In [7]:
mcs_data["new_fuel"] = ""

In [8]:
for row in range(len(mcs_data.month)-1):
    if mcs_data.month[row] != mcs_data.month[row+1]:
        total_days_in_month = calendar.monthrange(2017, mcs_data.month[row])[1]
        invoice_days = total_days_in_month - (mcs_data.day[row])
        invoice_days_next_month =  mcs_data.day[row+1]
        last_invoice = invoice_days * (2662.838 / (invoice_days + invoice_days_next_month))
        next_invoice = invoice_days_next_month * (2662.838 / (invoice_days + invoice_days_next_month))
        mcs_data.new_fuel[row] = last_invoice
        mcs_data.new_fuel[row + 1] = next_invoice 
        mcs_data.fuel[row] = 2662.838 + mcs_data.new_fuel[row]
        mcs_data.fuel[row + 1] =  mcs_data.new_fuel[row + 1]
    else:
        print('no')
        print(mcs_data.fuel[row])

/Users/Colette/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/Colette/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/Colette/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/Colette/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

no
591.7417777777778
no
2662.8379999999997
no
2420.7618181818184
no
1664.27375
no
1141.2162857142857

In [9]:
mcs_data.head()

,date,day,month,year,fuel,production,factory,type,supplier,unit_fuel,unit_production,new_fuel
0,2016-12-17,17,12,2016,4733.934222,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms,2071.1
1,2017-01-04,4,1,2017,591.741778,239479,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms,591.742
2,2017-01-19,19,1,2017,2662.838000,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms,
3,2017-01-30,30,1,2017,2904.914182,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms,242.076
4,2017-02-10,10,2,2017,2420.761818,265073,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms,2420.76

In [10]:
mcs_data = mcs_data.drop([0])

In [11]:
mcs_data.head()

,date,day,month,year,fuel,production,factory,type,supplier,unit_fuel,unit_production,new_fuel
1,2017-01-04,4,1,2017,591.741778,239479,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms,591.742
2,2017-01-19,19,1,2017,2662.838000,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms,
3,2017-01-30,30,1,2017,2904.914182,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms,242.076
4,2017-02-10,10,2,2017,2420.761818,265073,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms,2420.76
5,2017-02-22,22,2,2017,3661.402250,0,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms,998.564

In [12]:
aggregation_functions = {"year": "first", 
                         "fuel": "sum", 
                         "production": "first", 
                         "factory": "first", 
                         "type": "first", 
                         "supplier": "first", 
                         "unit_fuel": "first", 
                         "unit_production": "first"}
data_mcs = mcs_data.groupby(mcs_data["month"], as_index=False).aggregate(aggregation_functions)

In [13]:
data_mcs

,month,year,fuel,production,factory,type,supplier,unit_fuel,unit_production
0,1,2017,6159.493960,239479,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
1,2,2017,6082.164068,265073,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
2,3,2017,5848.733464,284983,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
3,4,2017,4730.258807,302032,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
4,5,2017,4691.666952,328602,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
5,6,2017,3994.257000,219754,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
6,7,2017,3178.226000,278115,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
7,8,2017,3727.973200,132747,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
8,9,2017,3738.214885,192550,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
9,10,2017,2662.838000,257604,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
10,11,2017,3178.226000,148611,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms
11,12,2017,2147.450000,166618,MCS,gas_oil,Trans-Marhaba,kilograms,kilograms

In [14]:
data_mcs.to_csv(user + "/data/data_exploration/data_MCS.csv")

# TintColor

In [15]:
tint_data = pd.read_csv(user + "/data/data_prep/prep_TintColor_fuel.csv")

In [16]:
tint_data["date"] = pd.to_datetime(tint_data[['year', 'month', 'day']])

tint_data[:10]

,date,day,month,year,fuel,production,factory,type,supplier,unit_fuel,unit_production
0,2017-01-04,4,1,2017,25840,251994,TintColor,FuelOil,Afriquia,kilograms,kilograms
1,2017-01-09,9,1,2017,25200,0,TintColor,FuelOil,Afriquia,kilograms,kilograms
2,2017-01-18,18,1,2017,26940,0,TintColor,FuelOil,Afriquia,kilograms,kilograms
3,2017-01-23,23,1,2017,26220,0,TintColor,FuelOil,Afriquia,kilograms,kilograms
4,2017-01-28,28,1,2017,26600,0,TintColor,FuelOil,Afriquia,kilograms,kilograms
5,2017-02-02,2,2,2017,26600,177575,TintColor,FuelOil,Afriquia,kilograms,kilograms
6,2017-02-09,9,2,2017,26600,0,TintColor,FuelOil,Afriquia,kilograms,kilograms
7,2017-02-16,16,2,2017,25900,0,TintColor,FuelOil,Afriquia,kilograms,kilograms
8,2017-02-23,23,2,2017,25740,0,TintColor,FuelOil,Afriquia,kilograms,kilograms
9,2017-03-01,1,3,2017,26500,197719,TintColor,FuelOil,Afriquia,kilograms,kilograms

In [17]:
tint_data["new_fuel"] = ""

In [18]:
tint_data.head()

,date,day,month,year,fuel,production,factory,type,supplier,unit_fuel,unit_production,new_fuel
0,2017-01-04,4,1,2017,25840,251994,TintColor,FuelOil,Afriquia,kilograms,kilograms,
1,2017-01-09,9,1,2017,25200,0,TintColor,FuelOil,Afriquia,kilograms,kilograms,
2,2017-01-18,18,1,2017,26940,0,TintColor,FuelOil,Afriquia,kilograms,kilograms,
3,2017-01-23,23,1,2017,26220,0,TintColor,FuelOil,Afriquia,kilograms,kilograms,
4,2017-01-28,28,1,2017,26600,0,TintColor,FuelOil,Afriquia,kilograms,kilograms,

In [19]:
for row in range(len(tint_data.month)-1):
    if tint_data.month[row] != tint_data.month[row+1]:
        total_days_in_month = calendar.monthrange(2017, tint_data.month[row])[1]
        invoice_days = total_days_in_month - (tint_data.day[row])
        invoice_days_next_month =  tint_data.day[row+1]
        last_invoice = invoice_days * (tint_data.fuel[row] / (invoice_days + invoice_days_next_month))
        next_invoice = invoice_days_next_month * (tint_data.fuel[row] / (invoice_days + invoice_days_next_month))
        tint_data.new_fuel[row] = tint_data.fuel[row] + last_invoice
        tint_data.new_fuel[row + 1] =  next_invoice
        tint_data.fuel[row] = tint_data.new_fuel[row]
        tint_data.fuel[row + 1] = tint_data.new_fuel[row + 1]
    else:
        print('no')

no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no

/Users/Colette/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/Colette/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/Colette/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/Colette/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no

In [20]:
tint_data.head()

,date,day,month,year,fuel,production,factory,type,supplier,unit_fuel,unit_production,new_fuel
0,2017-01-04,4,1,2017,25840,251994,TintColor,FuelOil,Afriquia,kilograms,kilograms,
1,2017-01-09,9,1,2017,25200,0,TintColor,FuelOil,Afriquia,kilograms,kilograms,
2,2017-01-18,18,1,2017,26940,0,TintColor,FuelOil,Afriquia,kilograms,kilograms,
3,2017-01-23,23,1,2017,26220,0,TintColor,FuelOil,Afriquia,kilograms,kilograms,
4,2017-01-28,28,1,2017,42560,0,TintColor,FuelOil,Afriquia,kilograms,kilograms,42560

In [21]:
aggregation_functions = {"year": "first", 
                         "fuel": "sum", 
                         "production": "first", 
                         "factory": "first", 
                         "type": "first", 
                         "supplier": "first", 
                         "unit_fuel": "first", 
                         "unit_production": "first"}
data_TintColor = tint_data.groupby(tint_data["month"], as_index=False).aggregate(aggregation_functions)

In [22]:
data_TintColor

,month,year,fuel,production,factory,type,supplier,unit_fuel,unit_production
0,1,2017,146760,251994,TintColor,FuelOil,Afriquia,kilograms,kilograms
1,2,2017,110330,177575,TintColor,FuelOil,Afriquia,kilograms,kilograms
2,3,2017,106470,197719,TintColor,FuelOil,Afriquia,kilograms,kilograms
3,4,2017,89737,188713,TintColor,FuelOil,Afriquia,kilograms,kilograms
4,5,2017,95544,195952,TintColor,FuelOil,Afriquia,kilograms,kilograms
5,6,2017,81892,169019,TintColor,FuelOil,Afriquia,kilograms,kilograms
6,7,2017,115478,245628,TintColor,FuelOil,Afriquia,kilograms,kilograms
7,8,2017,61011,163386,TintColor,FuelOil,Afriquia,kilograms,kilograms
8,9,2017,70194,174484,TintColor,FuelOil,Afriquia,kilograms,kilograms
9,10,2017,114580,260535,TintColor,FuelOil,Afriquia,kilograms,kilograms
10,11,2017,54853,110253,TintColor,FuelOil,Afriquia,kilograms,kilograms
11,12,2017,101266,158883,TintColor,FuelOil,Afriquia,kilograms,kilograms

In [23]:
data_TintColor.to_csv(user + "/data/data_exploration/data_TintColor.csv")